<div class="modal fade" id="recipeModal" tabindex="-1" aria-labelledby="recipeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="recipeModalLabel">Select a Recipe</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul id="recipeList" class="list-group">
          <% recipes.forEach(recipe => { %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span><%= recipe.name %> <span style="color: gray;">(Calories: <%= recipe.calories %>)</span></span>
              <button class="btn btn-primary btn-sm add-recipe" data-id="<%= recipe._id %>">Add</button>
            </li>
          <% }); %>
        </ul>
      </div>
    </div>
  </div>
</div>
